<section class="cd-product">
		<div class="cd-product-intro">
			<h1>Message Blitz</h1>
			<p>Send your friends a blitz of funny image messages.</p>
				<!-- Modal Trigger Button -->
				<a data-turbolinks="false" href="#modal1" class="waves-effect waves-light btn-large light-blue modal-trigger">Blitz a Friend</a>
				<a data-turbolinks="false" href="#cd-product-tour" id="cd-start" class="waves-effect waves-light btn-large light-blue">How it works</a>
		</div> <!-- cd-product-intro -->

		<div id="cd-product-tour" class="cd-product-mockup">
			<%= image_tag "cd-app-image.png", alt: "Preview image" %>
			<ul class="cd-points-container">
				<li class="cd-single-point">
					<a data-turbolinks="false" class="cd-img-replace" href="#0">More info</a>
					<div class="cd-more-info cd-right">
						<p>
							Add your friend's name and number. Your name is optional, send anonymously if you'd like. Choose a picture bundle when you buy the blitz, Click send and watch your friends get blitzed with a bunch of funny images and messages. They won't know what hit them. Continue to laugh.
						</p>
						<a data-turbolinks="false" href="#0" class="cd-close-info cd-img-replace">Close</a>
					</div>
				</li> <!-- .cd-single-point -->
			</ul>
		</div> <!-- .cd-product-mockup -->
		<div class="cd-3d-right-side"></div>
		<div class="cd-3d-bottom-side"></div>
		<a data-turbolinks="false" href="#0" class="cd-close-product-tour cd-img-replace"></a>
	</section> <!-- .cd-product -->

	<!-- Modal Structure -->
	<div id="modal1" class="modal modal-fixed-footer">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<button data-turbolinks = "false" class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">Submit
    		<i class="material-icons right">send</i>
  		</button>
		</div>
	</div>
