%section.cd-product
  .cd-product-intro
    = image_tag "logo.png", class: "logo"
    %h1 Message Blitz
    %p Send your friends a blitz of funny image messages.
    / Modal Trigger Button
    %a.waves-effect.waves-light.btn-large.light-blue.modal-trigger{"data-turbolinks" => "false", :href => "#modal1"} Blitz a Friend
    %a#cd-start.waves-effect.waves-light.btn-large.light-blue{"data-turbolinks" => "false", :href => "#cd-product-tour"} How it works
  / cd-product-intro
  #cd-product-tour.cd-product-mockup
    = image_tag "cd-app-image.png", alt: "Preview image"
    %ul.cd-points-container
      %li.cd-single-point
        %a.cd-img-replace{"data-turbolinks" => "false", :href => "#0"} More info
        .cd-more-info.cd-right
          %p
            1. Add your name
            %br
              2. Add your friend's number
              %br
                3. Type in an image search
                %br
                  4. Choose a bundle blitz size
                  %br
                    5. Pay the small fee
                    %br
                      6. Click send and watch your friend get blitzed with messages on their phone.
                      %br
                        7. Laugh
                        %br
          %a.cd-close-info.cd-img-replace{"data-turbolinks" => "false", :href => "#0"} Close
      / .cd-single-point
  / .cd-product-mockup
  .cd-3d-right-side
  .cd-3d-bottom-side
  %a.cd-close-product-tour.cd-img-replace{"data-turbolinks" => "false", :href => "#0"}
/ .cd-product
/ Modal Structure
#modal1.modal.modal-fixed-footer
  = render "messages/form"
