%nav
 .nav-wrapper.white
  .brand-logo.center
   = link_to image_tag("logo.png", class: "logo"), root_path
%br
%br
.container
 .row.center
  %h1
   Blitz Responsibly
  %p.grey-text.text-darken-1
   Please do not abuse our application, and only send funny blitz messages to your friends and people whose numbers you have. We are not responsible for any carrier data charges you or your recipient(s) may incur while using Message Blitz. Furthermore, please use proper image search terms.
  %br
  %br
   %h1
    Refund Policy
   %p.grey-text.text-darken-1
    All sales are final. As the cost is not significant and we need to cover our basic overhead costs.
    %br
    %br
     %h1
      Privacy Policy
     %p.grey-text.text-darken-1
      We really don't care about your data. We will not sell or share your information with anyone as we do not store any personal information.
